# Populating and querying the `anomalies` table in the `jwqldb`
This shows how to add records to the `anomalies` table in the `jwqldb`

In [94]:
# Import
from jwql.database import database_interface as di

Here's some dummy records to populate the `anomalies` table in the database.

In [99]:
di.session.add(di.Anomaly(filename='foo1', bowtie=True))
di.session.add(di.Anomaly(filename='foo2', bowtie=True, dragon=True))
di.session.add(di.Anomaly(filename='foo3', snowball=True))
di.session.add(di.Anomaly(filename='foo4', bowtie=True, snowball=True))
di.session.add(di.Anomaly(filename='foo5', dragon=True))
di.session.add(di.Anomaly(filename='foo6', dragon=True, snowball=True))
di.session.commit()

Now we can query the database for all records with bowtie anomalies.

In [100]:
bowties = di.session.query(di.Anomaly).filter(di.Anomaly.bowtie == True)

I added a method to return the result as a `pandas.DataFrame` for kicks.

In [101]:
bowties.data_frame()

   id filename                  flag_date  bowtie  dragon  snowball
0   1     foo1 2018-08-02 14:51:41.928512    True   False     False
1   2     foo2 2018-08-02 14:51:41.928512    True    True     False
2   4     foo4 2018-08-02 14:51:41.928512    True   False      True

And a print statement for a quick summary.

In [105]:
bowties[2]

Anomaly 4: foo4 flagged at 2018-08-02 14:51:41.928512 for ['snowball', 'bowtie']